body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.calculator {
    width: 300px;
    background-color: #47b2f0;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 50px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #ea00ff;
}
